* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 1%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 19% 80%;
    grid-template-rows: 100px 60px auto;
    grid-template-areas:
    "header header"
    "sidebar navigationbar"
    "sidebar content";
    column-gap: 1%;
    row-gap: 14px;
}

.container .header {
    background-color: red;
    grid-area: header;
}

.container .sidebar {
    background-color: #ffdead;
    grid-area: sidebar;
}

.container .navigationbar {
    grid-area: navigationbar;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 15px;
}

.container .content {
    grid-area: content;
}

.mini_header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffad33;
}

.timer, .search, .price_range, .status{
    background-color: #ffdead;
    padding: 0 10px;
}

.timer form, .search form, .price_range form, .status form {
    font-size: 30px;
    padding: 10px 0;
}

.timer form select, #search, #date {
    width: 100%;
    height: 26px;
}

.search input {
    margin-bottom: 5px;
}

label {
    text-align: left;
    font-size: 16px;
}

.price_range {
    position: relative;
}

.price_range input {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80%;
    height: 26px;
    position: absolute;
    right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

.thead {
    height: 40px;
    background-color: #ffad33;
}

td {
    height: 40px;
    border: 0.5px solid gray;
}

.order:hover {
    background-color: #ffdead;
}

.page {
    text-align: center;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
}

button:hover {
    background-color: #ffdead;
}

.current {
    background-color: #ffad33;
}

a:hover {
    color: red;
}

.setting {
    width: 80px;
    background-color: #ffad33;
    color: black;
}

.setting:hover {
    background-color: #ffdead;
}

.title, .nav-btn {
    width: 50%;
}

.nav-btn {
    text-align: right;
}